
header, footer{
	width:100%;
	background-color:pink;
	clear:both;
}

#sideBar{
	width:200px;
	
	float:right;
	display:block;
	border:1px solid red;
}

#stats #time{
	font-size:3em;
}#stats #score{
	color:grey;
}

#sideBarMainContent{

}
#sideBarSecondaryContent{

}

#gameBoard {
	
}