body {
	/*font-family: Verdana, Geneva, sans-serif;*/
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	/*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;*/

}


header, footer{
	width:100%;
	opacity:0.1;
	clear:both;
	overflow:hidden;
}

/*header {
	border-bottom: 1px solid black;
}
footer {
	border-top: 1px solid black;
}*/
footer a{
	float:right;
}

h1 {
	margin: 0;
	margin-bottom: 5px;
}

div{
	overflow:hidden;
}

#sideBar{
	/*width:200px;*/
	
	float:right;
	display:block;
	margin:10px;
}

#stats{
	/*display:inline-block;*/
	
	width:100%;
	margin-bottom: 10px;
}
#stats #time{
	/*float:right;*/
	font-size:2.5em;
	/*width:100%;
	text-align: justify;*
	display:block;*/
	float:right;
	display:inline;

}
#stats #score{
	color:grey;
	float:left;
	clear:both;
	width:100%;
	height:1em;
}
#time time .seconds{
	float:left;
}
#time time .milliseconds{
	float:right;
	opacity:0.1;
}

#wordList{
	display:inline-block;
	/*float:right;*/
	clear:both;
	width:100%;
	overflow:auto;
	
	height: 200px; /*this is not correct, but I do need to set a height*/
}
#wordList > span{
	display:block;
	clear:both;
	padding-top:3px;
	padding-bottom:3px;
}
#wordList .wordListWord{
	float:left;
}
#wordList .wordListPoints{
	float:right;
}

#sideBarMainContent{

}
#sideBarSecondaryContent{
	margin-top:40px;
	display:inline-block;
	float:right;
}

#gameBoard  {
	border: 1px solid lightgrey;
}

button{
/*#toggleTimer{*/
	display:block;
	padding:5px;
	opacity:0.5;
	float:right;
}


#overlay{
	width:100%;
	height:100%;
	/*color:white;*/
	opacity:0.7;
	
	/*display:block;*/
	display:none;
	position:absolute;
	background-color:white;
	display:none;
	  width: 99%;
	height: 98%;
	/*pointer-events: none;*/
	z-index:99;
}

#dialog, #instructions{
	
	display:block;
	margin-left: auto;
	margin-right: auto;
	background-color:white;
	/*margin-top:100px;*/
	border:2px solid grey;
	position:absolute;
	background-color:white;
	z-index:100;
	padding:10px;
	display:none;
}
#dialog{
	width:200px;
}

#dialog button{
	clear:both;
}

#instructions{
	display:none;
	width:auto;
	max-width:600px;
}

input {
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	float:right;
	background-color:lightgrey;
	padding-left:2px;
	width:50px;
}
label {
	margin-bottom:5px;
	float:left;
}

.lettersG, .textG {
	/*font-weight: bold;*/ /*bold is use if I decide not to use a monospace font*/
	/*font-family: 'Lucida Console', Monaco, monospace;*/
	/*font-family: 'Courier New', Courier, monospace;*/
	font-weight: bold;
	font-size: 20px;
	text-anchor: middle;
}

.letterpillarG text{
	
	text-anchor:middle;
}
.letterpillarG g, .letterpillarG rect{
	z-index:0;
	
}
.textG text, lettersG text{
	text-anchor:middle;
	/*use a monospace font so it always appears in the center of the circle*/
	font-family: 'Lucida Console', Monaco, monospace;
	/*font-family: 'Courier New', Courier, monospace;*/
}

#bottomPanel {
	height:60px;
	text-align:center;
	clear:both;
	display:none;
	overflow:hidden;
}

#bottomPanel p{
	letter-spacing: 4px;'
	font-weight:bold;
}

rect {
	fill: lightgrey;
	stroke:transparent;
}

circle {
	stroke-width: 3px;
	opacity:0.5;
}

.head rect {
	/*opacity:0.5;*/
}